In [1]:
import pandas as pd
import numpy as np
import os
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers

The reviews are stored in txt files individually and given in folders "train" and "test".The "train" folder contains two folders: "pos" and "neg". We have to read each file in train/pos and train/neg into the data frame. To achive this we first create a list of lists where each inner list contains one review and its label. Then we create our data frame from this list

In [63]:
filenames_pos = os.listdir("/Users/abdullahkarakus/Documents/Github/IMDB/aclImdb/train/pos")

filenames_neg = os.listdir("/Users/abdullahkarakus/Documents/Github/IMDB/aclImdb/train/neg")

review_list = []

for file in filenames_pos:
    with open("/Users/abdullahkarakus/Documents/Github/IMDB/aclImdb/train/pos/" + file, "r") as target_file:
        review_list.append([1,target_file.read()])
        

for file in filenames_neg:
    with open("/Users/abdullahkarakus/Documents/Github/IMDB/aclImdb/train/neg/" + file, "r") as target_file:
        review_list.append([0,target_file.read()])

training_data = pd.DataFrame(data = review_list, columns = ["labels","reviews"])

Let's check our data frame.

In [64]:
training_data

       labels                                            reviews
0           1  For a movie that gets no respect there sure ar...
1           1  Bizarre horror movie filled with famous faces ...
2           1  A solid, if unremarkable film. Matthau, as Ein...
3           1  It's a strange feeling to sit alone in a theat...
4           1  You probably all already know this by now, but...
...       ...                                                ...
24995       0  My comments may be a bit of a spoiler, for wha...
24996       0  The "saucy" misadventures of four au pairs who...
24997       0  Oh, those Italians! Assuming that movies about...
24998       0  Eight academy nominations? It's beyond belief....
24999       0  Not that I dislike childrens movies, but this ...

[25000 rows x 2 columns]

We do the same thing for the test data.

In [65]:
filenames_pos = os.listdir("/Users/abdullahkarakus/Documents/Github/IMDB/aclImdb/test/pos")

filenames_neg = os.listdir("/Users/abdullahkarakus/Documents/Github/IMDB/aclImdb/test/neg")

review_list = []

for file in filenames_pos:
    with open("/Users/abdullahkarakus/Documents/Github/IMDB/aclImdb/test/pos/" + file, "r") as target_file:
        review_list.append([1,target_file.read()])
        

for file in filenames_neg:
    with open("/Users/abdullahkarakus/Documents/Github/IMDB/aclImdb/test/neg/" + file, "r") as target_file:
        review_list.append([0,target_file.read()])

test_data = pd.DataFrame(data = review_list, columns = ["labels","reviews"])

In [66]:
test_data

       labels                                            reviews
0           1  Based on an actual story, John Boorman shows t...
1           1  This is a gem. As a Film Four production - the...
2           1  I really like this show. It has drama, romance...
3           1  This is the best 3-D experience Disney has at ...
4           1  Of the Korean movies I've seen, only three had...
...       ...                                                ...
24995       0  With actors like Depardieu and Richard it is r...
24996       0  If you like to get a couple of fleeting glimps...
24997       0  When something can be anything you want it to ...
24998       0  I had heard good things about "States of Grace...
24999       0  Well, this movie actually did have one redeemi...

[25000 rows x 2 columns]